* {
    padding: 0%;
    margin: 0%;
}

.designcarousalcontainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.carousalcontainer {
    width: 50vw;
    height: 100vh;
}

.carousalimage {
    width: 50vw !important;
    height: 100vh !important;
    padding: 50px 100px 0px 25px;
}

.textcontainer {
    width: 50vw;
    height: 100vh;
    margin-top: 20vh;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.text1 {
    font-size: 30px;
}

.text2 {
    font-size: 50px;
}

.text3 {
    font-size: 20px;
}

@media (min-width:1024px) and (max-width:1250px) {
    .carousalimage {
        width: 50vw !important;
        height: 90vh !important;
        padding: 50px 100px 0px 25px;
    }

    .text1 {
        font-size: 20px;
    }

    .text2 {
        font-size: 35px;
    }

    .text3 {
        font-size: 15px;
    }

}

@media (min-width:768px) and (max-width:1024px) {
    .designcarousalcontainer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .textcontainer {
        position: absolute;
        float: top;
        width: 100%;
        height: 30vh;
        padding: 0px 5vw 0px 5vw;
    }

    .text1 {
        font-size: 15px;
    }

    .text2 {
        font-size: 30px;
    }

    .text3 {
        font-size: 15px;
    }

    .carousalcontainer {
        width: 100%;
        position: absolute;
        margin-top: 25vh;
    }

    .carousalimage {
        width: 100% !important;
        height: 70vh !important;
        padding: 8vh 4vw 0% 4vw;
    }
}

@media (min-width:425px) and (max-width:768px) {
    .designcarousalcontainer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 0%;
        margin: 0%;
    }

    .textcontainer {
        position: absolute;
        float: top;
        width: 100%;
        height: 30vh;
        padding: 0px 5vw 0px 5vw;
    }

    .text1 {
        font-size: 10px;
    }

    .text2 {
        font-size: 25px;
    }

    .text3 {
        font-size: 10px;
    }

    .carousalcontainer {
        width: 100%;
        position: absolute;
        margin-top: 30vh;
    }

    .carousalimage {
        width: 100% !important;
        height: 65vh !important;
        padding: 2vh 1vw 0 1vw !important;
    }
}

@media (min-width:320px) and (max-width:425px) {
    .designcarousalcontainer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        height: 150vh;
        padding: 0%;
        margin: 0%;
    }

    .textcontainer {
        position: absolute;
        float: top;
        width: 100%;
        height: 30vh;
        padding: 0px 5vw 0px 5vw;
    }

    .text1 {
        font-size: 15px;
    }

    .text2 {
        font-size: 30px;
    }

    .text3 {
        font-size: 20px;
    }

    .carousalcontainer {
        width: 100%;
        position: absolute;
        margin-top: 60vh;
    }

    .carousalimage {
        width: 100% !important;
        height: 55vh !important;
        padding: 0 0 !important;
    }
}